[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.1.7"

[dev-packages]
pylint = "==3.2.6"
black = "==24.4.2"
pyinstaller = "==6.9.0"
pywin32-ctypes = "==0.2.2"
pefile = "==2023.2.7"
macholib = "==1.16.3"

[scripts]
lint = "pylint configure_repositories"
format = "black ."
format_check = "black . --check"
build_linux_x86 = "pyinstaller --target-architecture x86_64 --onefile --add-data files/scripts/mysql/:files/scripts/mysql/ --clean --name configure_repositories_linux_x86 configure_repositories.py"
build_darwin_x86 = "pyinstaller --target-architecture x86_64 --onefile --add-data files/scripts/mysql/:files/scripts/mysql/ --clean --name configure_repositories_darwin_x86 configure_repositories.py"
build_darwin_arm64 = "pyinstaller --target-architecture arm64 --onefile --add-data files/scripts/mysql/:files/scripts/mysql/ --clean --name configure_repositories_darwin_arm64 configure_repositories.py"
build_windows_x86 = "pyinstaller --target-architecture x86_64 --onefile --add-data files/scripts/mysql/;files/scripts/mysql/ --clean --name configure_repositories_windows_x86 configure_repositories.py"

[requires]
python_version = "3.11"
